@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-block: 20px;
}

th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 12px;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

tr:hover {
  background-color: #f5f5f5;
}

.btn {
  margin-block: 1rem;
  background: #fff;
  display: block;
  padding: 10px;
  border: 1px solid black;
  color: #000;
  text-decoration: none;
  transition: all 0.2s;

  cursor: pointer;
}

.btn:hover {
  color: #fff;
  background: #000;
}

.flex {
  width: fit-content;
  margin-inline: auto;
  display: flex;
  gap: 2rem;
}

form {
  max-width: 600px;
  margin-inline: auto;
}

form > div {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

form > input[type="submit"] {
  width: 100%;
}
